# Setup and Libraries

In [10]:
import pandas as pd
from pathlib import Path

### variables to complete

In [ ]:
# ida_csv_path = (
#     "/home/falconnier/Downloads/4RTNI/4RTNI_study_data/4RTNI_DATA_21Jan2026.csv"
# )
# id_column_name = "SUBID"
# sex_column_name = "SEX"
# age_column_name = "AGE_AT_TP0"

# ida_csv_path = "/home/falconnier/Downloads/MCSA/MCSA_Demographics_and_Assessments/MCSA_Data_16Jan2026.csv"
# id_column_name = "MCSA_ID"
# sex_column_name = "Male"
# age_column_name = "calc_age_vis"
# sex_map = {1: "M", 0: "F"}

# ida_csv_path = (
#     "/home/falconnier/Downloads/A4/A4_study_Data/A4_PTDEMOG_PRV2_21Jan2026.csv"
# )
# id_column_name = "BID"
# sex_column_name = "PTGENDER"
# age_column_name = "PTAGE"
# sex_map = {1: "M", 2: "F"}

# ida_csv_path = "/home/falconnier/Downloads/SCAN/SCAN_study_data/Tables_23Jan2026/All_Subjects_All_Images_23Jan2026.csv"
# id_column_name = "subject_id"
# sex_column_name = "PTGENDER"
# age_column_name = "PTAGE"
# sex_map = {1: "M", 2: "F"}


ida_csv_path = "/home/falconnier/Downloads/PTDEMOG_23Jan2026.csv"
id_column_name = "SCRNO"
sex_column_name = "PTGENDER"
age_column_name = "PTAGE"
sex_map = {1: "M", 2: "F"}


# -------- READ CSV --------
ida_csv = Path(ida_csv_path)  # Your IDA CSV
df = pd.read_csv(ida_csv, sep=",")  # adjust sep="\t" if TSV
print(len(df))
print(df.columns.tolist())
display(df.head(4))
# print(df["PTGENDER"].unique())

384
['SCRNO', 'ID', 'RID', 'SITEID', 'VISCODE', 'USERDATE', 'USERDATE2', 'EXAMDATE', 'PTSOURCE', 'PTGENDER', 'PTDOB', 'PTAGE', 'PTHAND', 'PTMARRY', 'PTEDUCAT', 'PTWORKHS', 'PTWORK', 'PTWRECNT', 'PTNOTRT', 'PTRTYR', 'PTHOME', 'PTOTHOME', 'PTPLANG', 'PTPSPEC', 'PTETHCAT', 'PTRACCAT', 'update_stamp']

,SCRNO,ID,RID,SITEID,VISCODE,USERDATE,USERDATE2,EXAMDATE,PTSOURCE,PTGENDER,...,PTWRECNT,PTNOTRT,PTRTYR,PTHOME,PTOTHOME,PTPLANG,PTPSPEC,PTETHCAT,PTRACCAT,update_stamp
0,12310,2,273,13,sc,2013-05-08,2013-06-07,2013-05-06,1,1.0,...,Public Health,1,--/--/2010,1,-4,1.0,-4,2.0,5.0,2015-07-07 02:04:57
1,3107,4,350,13,sc,2013-05-08,2013-06-07,2013-05-07,1,1.0,...,operations for Air Force,1,10/31/1989,1,-4,1.0,-4,2.0,5.0,2015-07-07 02:04:57
2,17522,10,354,13,sc,2013-05-22,2013-06-07,2013-05-10,1,1.0,...,"business owner, printing",1,04/--/2012,1,-4,1.0,-4,1.0,7.0,2015-07-07 02:04:57
3,17017,12,349,13,sc,2013-05-22,2013-06-07,2013-05-14,1,1.0,...,Research and Development,1,--/--/1985,1,-4,1.0,-4,2.0,5.0,2015-07-07 02:04:57

In [14]:
# Special case for PPMI

ida_csv_path = "/home/falconnier/Downloads/Age_at_visit_23Jan2026.csv"
id_column_name = "SCRNO"
sex_column_name = "PTGENDER"
age_column_name = "PTAGE"
sex_map = {1: "M", 2: "F"}


# -------- READ CSV --------
ida_csv = Path(ida_csv_path)  # Your IDA CSV
df = pd.read_csv(ida_csv, sep=",")  # adjust sep="\t" if TSV
print(len(df))
print(df.columns.tolist())
display(df.head(4))

44054
['PATNO', 'EVENT_ID', 'AGE_AT_VISIT']

   PATNO EVENT_ID  AGE_AT_VISIT
0   3000       BL          69.1
1   3000      R17          80.5
2   3000      R18          81.4
3   3000      R19          84.0

### creation of participants.tsv

In [12]:
# -------- CONFIG --------
participants_tsv = ida_csv.parent / "participants.tsv"

# -------- MANDATORY BIDS FIELDS --------
df_bids = pd.DataFrame()
df_bids["participant_id"] = df[id_column_name].apply(lambda x: f"sub-{x}")
df_bids["sex"] = df[sex_column_name].map(sex_map).fillna("U")
df_bids["age"] = df[age_column_name]

# -------- AUTOMATICALLY ADD ALL OTHER COLUMNS --------
mandatory_cols = {id_column_name, sex_column_name, age_column_name}  # already used
optional_cols = [c for c in df.columns if c not in mandatory_cols]

for col in optional_cols:
    df_bids[col] = df[col]

# -------- SORT (optional) --------
df_bids = df_bids.sort_values("participant_id")

# -------- WRITE TSV --------
df_bids.to_csv(participants_tsv, sep="\t", index=False, na_rep="")


print(f"participants.tsv written to {participants_tsv}")
# print(df_bids.head())

participants.tsv written to /home/falconnier/Downloads/participants.tsv