# Setup and Libraries

In [37]:
import pandas as pd
from pathlib import Path

### variables to complete

In [38]:
# ida_csv_path = (
#     "/home/falconnier/Downloads/4RTNI/4RTNI_study_data/4RTNI_DATA_21Jan2026.csv"
# )
# id_column_name = "SUBID"
# sex_column_name = "SEX"
# age_column_name = "AGE_AT_TP0"

# ida_csv_path = "/home/falconnier/Downloads/MCSA/MCSA_Demographics_and_Assessments/MCSA_Data_16Jan2026.csv"
# id_column_name = "MCSA_ID"
# sex_column_name = "Male"
# age_column_name = "calc_age_vis"
# sex_map = {1: "M", 0: "F"}

ida_csv_path = (
    "/home/falconnier/Downloads/A4/A4_study_Data/A4_PTDEMOG_PRV2_21Jan2026.csv"
)
id_column_name = "BID"
sex_column_name = "PTGENDER"
age_column_name = "PTAGE"
sex_map = {1: "M", 2: "F"}


# -------- READ CSV --------
ida_csv = Path(ida_csv_path)  # Your IDA CSV
df = pd.read_csv(ida_csv, sep=",")  # adjust sep="\t" if TSV
print(len(df))
print(df.columns.tolist())
display(df.head(4))
print(df["PTGENDER"].unique())

6945
['BID', 'VISCODE', 'EXAMDAY', 'PTGENDER', 'PTAGE', 'PTETHNIC', 'PTRACE', 'PTLANG', 'PTPLANG', 'PTEDUCAT', 'PTMARRY', 'PTNOTRT', 'PTHOME', 'update_stamp']

,BID,VISCODE,EXAMDAY,PTGENDER,PTAGE,PTETHNIC,PTRACE,PTLANG,PTPLANG,PTEDUCAT,PTMARRY,PTNOTRT,PTHOME,update_stamp
0,B10018169,1,0.0,1,69.93,2,5,1,1,11.0,1.0,1.0,1.0,2021-03-29 11:45:35
1,B10021023,1,0.0,2,68.26,2,5,1,1,20.0,3.0,1.0,1.0,2021-03-29 11:45:35
2,B10048838,1,0.0,1,78.96,2,5,1,1,17.0,1.0,1.0,1.0,2021-03-29 11:45:35
3,B10081264,1,0.0,2,67.79,2,5,1,1,16.0,3.0,1.0,1.0,2021-03-29 11:45:35

[1 2]

### creation of participants.tsv

In [39]:
# -------- CONFIG --------
participants_tsv = ida_csv.parent / "participants.tsv"

# -------- MANDATORY BIDS FIELDS --------
df_bids = pd.DataFrame()
df_bids["participant_id"] = df[id_column_name].apply(lambda x: f"sub-{x}")
df_bids["sex"] = df[sex_column_name].map(sex_map).fillna("U")
df_bids["age"] = df[age_column_name]

# -------- AUTOMATICALLY ADD ALL OTHER COLUMNS --------
mandatory_cols = {id_column_name, sex_column_name, age_column_name}  # already used
optional_cols = [c for c in df.columns if c not in mandatory_cols]

for col in optional_cols:
    df_bids[col] = df[col]

# -------- SORT (optional) --------
df_bids = df_bids.sort_values("participant_id")

# -------- WRITE TSV --------
df_bids.to_csv(participants_tsv, sep="\t", index=False, na_rep="")


print(f"participants.tsv written to {participants_tsv}")
# print(df_bids.head())

participants.tsv written to /home/falconnier/Downloads/A4/A4_study_Data/participants.tsv